body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 1.5em;
    font-family: 'New Tegomin', serif;
}



.border{
    border : 1px solid black;
}

header{
    background: #F9E583;
    width: 100%;
    height: 15vh;
    display: grid;
    place-content: center;
}

.logo-and-project{
    display: flex;
    justify-content: center;
}

.logo-clip{
    height:3rem;
    width: 3rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: orange;
}

.logo{
    height: 100%;
}

.project{
    display: flex;
    align-items: center;
    margin-left: 0.2em;
    width: fit-content;
    font-size: 1.4em;
}

.knapsack{
    text-align: center;
    font-size: 1.2em;
}

section{
    width: 100%;
    padding: 5em 0 10em 0;
}

.problem{
    background: linear-gradient(to bottom, #717171, #d8d8d8)
}

.problem>div{
    display: flex;
    width: min(80%, 1400px);
    height: fit-content;
    margin: auto;
    padding: .5rem;
    font-size: 1.3rem;
}

.problem-statement-text{
    flex-basis : 100%;
}

.problem-statement-photo{
    margin-left: 1em;
    height: auto;
    width: auto;
    border-radius: 1rem;
}

.button-wrapper{
    display: flex;
}

a{
    text-decoration: none;
    color: inherit;
}

.wikipedia, 
.geeks-for-geeks{
    border: 2px solid orange;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    margin: 1em 2em 0 0;
    padding: 0.5em 1em;
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    transition-duration: 0.05s;
}

.wikipedia, 
.geeks-for-geeks{
    border-radius: 0.5rem;
    padding: 0.5em 1em;
    background-color: transparent;
    transition-duration: 0.5s;
}

.wikipedia:hover, 
.geeks-for-geeks:hover{ 
    cursor: pointer;
    transform: translate(0.1em, -0.1em);
}

.steps-section{
    background: linear-gradient(to top, #717171, #d8d8d8)
}

.steps-section>div{
    margin: auto;
    width: min(80%, 1400px);
    display: flex;
}

.steps-image{
    margin: 0 2em 0 1em;
    height: auto;
    width: auto;
    border-radius: 1rem;
}

.steps-description{
    justify-content: flex-end;
    width: 100%;
    padding: 0 1em 0.5em 2em;
    font-size: 1.3rem;
}

.steps>li{
    line-height: 2em;
}

.program{
    background: linear-gradient(#272626, #5a5959, #272626);
    padding: 2em 0;
}

#main-program{
    margin: auto;
    width: fit-content;
    height: fit-content;
    /* width: min(90%, 1200px); */
    display: flex;
    flex-direction: column;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.07, 1.13, 0.43, 1.92);
}

.get-started{
    height: fit-content;
    margin: 0 auto;
    border: 0.08rem solid #000;
    border-radius: 0.5rem;
    font-size: 2rem;
    background: #F9E583;
    transition-duration: 0.5s;
    padding: 0.5em 1em;
}

.get-started:hover{
    border: 0.08rem solid #ddd;
    cursor: pointer;
    transform: translate(0, 0);
}

.top{
    display: none;
    width: 100%;
    height: 75%;
    transition-duration: 2s;
    transition-timing-function: linear;
}

.table{
    height: min(81vw, 54vh);
    margin: auto;
    aspect-ratio: 1/1;
    overflow: auto;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
}

#table{
    width: 100%;
    height: 100%;
    border-spacing: 0;
    border: 0.5px solid black;
}
td{
    border: 0.5px solid black;
    text-align: center;
}

.bottom{
    display: none;
    height: 25%;
    width: 100%;
    transition-duration: 2s;
    transition-timing-function: linear;
}

.takeAlgoInput{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.takeAlgoInput>*{
    width : 90%;
    margin: 0 auto;
    line-height: 3.5vh;
    background: transparent;
    border: 1px solid orange;
    border-radius: 0.5em;
    padding-left: 0.5em;
    color: white;
}

.ans{
    width: fit-content;
    display: grid;
    font-size: 4rem;
    padding-right: 4vw;
    place-items: center;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
}

.ans:hover{
    cursor: pointer;
}

.team{
    background: linear-gradient(#717171, #d8d8d8, #717171);
    padding-bottom: 5rem;
}

.team>div{
    margin: auto;
    width: min(80%, 1400px);
}

.team-text{
    text-align: center;
    margin-bottom: 3em;
}

.team-images{
    margin-top: 0em;
    display: flex;
}

.image-wrapper{
    flex: 1;
}

.image{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: black;
    margin: auto;
    overflow: hidden;
}

.image>img{
    margin:auto;
    height: 100%;
    width: auto;
}

#image2{
    transform: translateX(0.4em);
}

#image3{
    transform: translateX(-4em);
}

.image-text{
    margin: auto;
    width: 80%;
    text-align: center;
}

footer{
    background: #F9E583;
    width: 100%;
    padding: 1em 0 1em 0;
}

footer>div{
    display: flex;
    font-size: 1.2rem;
    width: 80%;
    margin: auto;
    justify-content:space-between;
}

.footer-logo{
    display: flex;
    justify-content: center;
}

.menu{
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
}

.menu>li{
    margin: auto 0.5em;
    opacity: 50%;
    border-radius: 0.5rem;
    transition-duration: 0.5s;
}

.menu>li:hover{
    opacity: 100%;
    background-color: #eed971;
}

@media (max-width: 800px){

    .problem-statement-photo,
    .steps-image{
        height: 0;
        width: 0;
    }

    .button-wrapper{
        flex-direction: column;
    }

    /* .takeAlgoInput{
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
    }
    .takeAlgoInput>*{
        width: 80%;
    } */

    .team-images{
        flex-direction: column;
    }

    footer>div{
        align-items: center;
    }

    .menu{
        flex-direction: column;
    }
}
